<!DOCTYPE html>
<html>
    <head>
        <title>Barrows</title>
        <style>
            table, th, td {
                border: 1px solid black;
				text-align: center;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="//cdn.datatables.net/plug-ins/2.0.7/sorting/currency.js"></script>
    </head>
    <body>
        <h2>Barrows Repairing Table</h2>
        <a href="/">Recipes</a><br/>
        <a href="/items">Items</a><br/>
        <a href="/flips">Flipping & Alching</a>
        <form action="">
            <label for="lvl">Smithing Level: </label>
            <input type="text" name="lvl" id="lvl" value="1">
            <input type="submit" value="Submit">
        </form>
        <table id="recipetable" class="display">
            <thead>
                <tr>
                    <th>Recipe Name</th>
                    <th>Amount Produced</th>
                    <th>Broken Item</th>
                    <th>Cost</th>
                    <th>Gold Cost</th>
                    <th>Sell At</th>
                    <th>Profit</th>
                    <th>Level</th>
                    <th>GE Tracker</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                    <tr>
                        <td>{{ recipe[2].capitalize() }}</td>
                        <td>{{ recipe[3] }}</td>
                        <!-- broken item -->
                        <td><a href="https://www.ge-tracker.com/item/{{ recipe[12] }}" target="_blank">{{ recipe[10].capitalize() }}</a></td>
                        <!-- cost -->
                        <td>{{ recipe[8] }}</td>
                        <!-- goldcost -->
                        <td>{{ recipe[7] }}</td>
                        <!-- sellat -->
                        <td>{{ recipe[9] }}</td>
                        <!-- profit -->
                        <td>{{ recipe[11] }}</td>
                        <!-- level -->
                        <td>{{ recipe[5] }}</td>
                        <td><a href="https://www.ge-tracker.com/item/{{ recipe[1] }}" target="_blank">Link</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Recipe Name</th>
                    <th>Amount Produced</th>
                    <th>Broken Item</th>
                    <th>Cost</th>
                    <th>Gold Cost</th>
                    <th>Sell At</th>
                    <th>Profit</th>
                    <th>Level</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
        <script type="text/javascript">
            $(document).ready( function () {
                $('#recipetable').DataTable({
                    "columnDefs": [
                        {
                            "render": function(data, type, row) {
                                return commaSeparateNumber(data);
                            },
                            "targets": [3, 4, 5, 6]
                        },
                        {
                            "type": "currency",
                            "targets": [3, 4, 5, 6]
                        }
                    ]
                });
            } );
            function commaSeparateNumber(val) {
                while (/(\d+)(\d{3})/.test(val.toString())) {
                     val = val.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
                }
                return val;
            }
        </script>
    </body>
</html>