<!DOCTYPE html>
<html>
    <head>
        <title>index</title>
    </head>
    <body>
        <form action="/" method="POST">
            <label for="recipename">Recipe Name:</label>
            <input type="text" name="recipename", id="recipename">
            <label for="recipeid">ID:</label>
            <input type="text" name="recipeid", id="recipeid">
            <label for="recipeamount">Amount Made:</label>
            <input type="text" name="recipeamount" id="recipeamount">
            <label for="recipelevel">Level:</label>
            <input type="text" name="recipelevel" id="recipelevel">
            <label for="recipeskill">Skill:</label>
            <input type="text" name="recipeskill" id="recipeskill">
            <input type="submit" value="Add Recipe">
        </form>
    </body>
</html>