<!DOCTYPE html>
<html>
    <head>
        <title>Ingredients</title>
        <style>
            table, th, td {
                border: 1px solid black;
				text-align: center;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    </head>
    <body>
        <a href="/">Recipes</a><br/>
        <a href="/items">Items</a><br/>
        <a href="/barrows">Barrows</a>
        <h2>Ingredients for {{ recipename }}</h2>
        <table id="ingtable" class="display">
            <thead>
                <tr>
                    <th>Ingredient ID</th>
                    <th>Ingredient Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>GE Tracker</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in ingredients %}
                    <tr>
                        <td>{{ ingredient[1] }}</td>
                        <td><a href="/?itemid={{ ingredient[1] }}&search=true">{{ ingredient[3] }}</a></td>
                        <td>{{ ingredient[2] }}</td>
                        <td>{{ ingredient[4] }}</td>
                        <td>{{ ingredient[2] * ingredient[4] }}</td>
                        <td><a href="https://www.ge-tracker.com/item/{{ ingredient[1] }}" target="_blank">Link</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <script type="text/javascript">
            $(document).ready( function () {
                $('#ingtable').DataTable({
                    "columnDefs": [
                        {
                            "render": function(data, type, row) {
                                return commaSeparateNumber(data);
                            },
                            "targets": [2, 3, 4]
                        },
                        {
                            "type": "currency",
                            "targets": [2, 3, 4]
                        }
                    ]
                });
            } );
            function commaSeparateNumber(val) {
                while (/(\d+)(\d{3})/.test(val.toString())) {
                     val = val.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
                }
                return val;
            }
        </script>
    </body>
</html>