<!DOCTYPE html>
<html>
    <head>
        <title>Shops</title>
        <style>
            table, th, td {
                border: 1px solid black;
				text-align: center;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="//cdn.datatables.net/plug-ins/2.0.7/sorting/currency.js"></script>
    </head>
    <body>
        <h1>Shop Flipping</h1>
        <a href="/items">Items</a><br/>
        <a href="/">Recipes</a><br/>
        <a href="/barrows">Barrows</a><br/>
        <a href="/flips">Flipping & Alching</a>
        <table id="fliptable", class="display", style="width:100%">
            <thead>
                <th>Item</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Sell</th>
                <th>Profit</th>
                <th>Shop</th>
                <th>GE Tracker</th>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <!-- item -->
                        <td><a href="https://oldschool.runescape.wiki/w/Special:Lookup?type=item&id={{ item[5] }}" target="_blank">{{ item[0] }}</a></td>
                        <!-- stock -->
                        <td>{{ item[6] }}</td>
                        <!-- price -->
                        <td>{{ item[1] }}</td>
                        <!-- sell -->
                        <td>{{ item[2] }}</td>
                        <!-- profit -->
                        <td>{{ item[3] }}</td>
                        <!-- shop -->
                        <td><a href="https://oldschool.runescape.wiki/w/Special:Lookup?type=object&name={{ item[4] }}" target="_blank">{{ item[4] }}</a></td>
                        <!-- ge tracker -->
                        <td><a href="https://www.ge-tracker.com/item/{{ item[5] }}" target="_blank">Link</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <th>Item</th>
                <th>Price</th>
                <th>Sell</th>
                <th>Profit</th>
                <th>Shop</th>
                <th>GE Tracker</th>
            </tfoot>
        </table>
        <script type="text/javascript">
            $(document).ready( function () {
                $('#fliptable').DataTable({
                    "paging": true,
                    "orderClasses": true,
                    "columnDefs": [
                        {
                            "render": function(data, type, row) {
                                return commaSeparateNumber(data);
                            },
                            "targets": [1, 2, 3, 4]
                        },
                        {
                            "type": "currency",
                            "targets": [1, 2, 3, 4]
                        }
                    ],
                    "rowCallback": function(row, data, index) {
                        if(data[4]<1) {
                            $(row).find('td:eq(4)').css('color', 'red');
                        } else {
                            $(row).find('td:eq(4)').css('color', 'green');
                        }
                    }
                });
            } );
            function commaSeparateNumber(val) {
                while (/(\d+)(\d{3})/.test(val.toString())) {
                     val = val.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
                }
                return val;
            }
        </script>
    </body>
</html>