<!DOCTYPE html>
<html>
    <head>
        <title>JS Static Webpage</title>
        <style>
            table, th, td {
                border: 1px solid black;
				text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>James Shaw Static Webpage</h1>
        <h2>Recipe Table</h2>
        <table>
           <tr>
            <th>RecipeID</th>
            <th>RecipeName</th>
            <th>AmtProduced</th>
            <th>SkillLvl</th>
            <th>SkillName</th>
           </tr>
           {% for recipe in recipes %}
            <tr>
                <td>{{ recipe[0] }}</td>
                <td>{{ recipe[2] }}</td>
                <td>{{ recipe[3] }}</td>
                <td>{{ recipe[5] }}</td>
                <td>{{ recipe[6] }}</td>
            </tr>
           {% endfor %}
        </table>
    </body>
</html>