<!DOCTYPE html>
<html>
    <head>
        <title>JS Dynamic Webpage</title>
        <style>
            table, th, td {
                border: 1px solid black;
				text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>James Shaw Dynamic Webpage</h1>
        <a href="/recipes">Recipes</a>
        <h2>Items Table</h2>
        <table>
           <tr>
            <th>ItemID</th>
            <th>Name</th>
            <th>Members</th>
            <th>Alch value</th>
            <th>Maintenance</th>
           </tr>
           {% for item in items %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ "True" if item[1] else "False" }}</td>
                <td>{{ item[2] }}</td>
                <td>
                    <a href="?delete=true&id={{ item[0] }}">Delete</a><br/>
                    <a href="/updateitem?id={{ item[0] }}">Change</a><br/>
                    <a href="/recipes?id={{ item[0] }}">Recipes</a>
                </td>
            </tr>
           {% endfor %}
        </table>
        <h2>New item</h2>
        <form action="">
            <input type="hidden" name="insert" value="true">
            <label for="itemid">Item ID:</label>
            <input type="text" name="itemid" id="itemid">
            <label for="itemname">Item Name:</label>
            <input type="text" name="itemname" id="itemname">
            <label for="itemmembs">Members:</label>
            <input type="checkbox" name="itemmembs" id="itemmembs">
            <label for="itemalch">Alch value:</label>
            <input type="text" name="itemalch" id="itemalch">
            <input type="submit" value="Add Item">
        </form>
    </body>
</html>